@import "../../styles/colors.scss";
@import "../../styles/headings.scss";

.header {
  color: $white;
  background-color: $blue;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  z-index: 99;
  cursor: default;
}
