$blue: #0061bb;
$green: #308800;
$pink: #e32747;
$light-orange: #ffa02f;
$light-blue: #e5eff8;
$teal: #8dcfcd;
$dark-orange: #c82c00;
$red: #a81a1a;
$navy: #09357a;
$orange: #ff6000;
$white: #ffffff;

$ap-primary-hover: #a02300;
$ap-secondary-hover: #004e96;
$active: #0061bb;
$success: #308800;
$error: #e32747;
$warning: #ffa02f;

$black: #2d2d2d;
$grey-1: #666666;
$grey-2: #ababab;
$grey-3: #d3d3d3;
$grey-4: #f1f1f1;
$ap-dark-navy: #2c465b;
$ap-grey-1: #f5f5f5;
