@import "../../styles/headings.scss";

.characterCard {
  display: block;

  .characterImage {
    display: flex;
    cursor: pointer;
  }
  .characterName {
    display: block;
    margin: 0;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
  }
}
