@import "../../styles/colors.scss";

.characterCardDetails {
  position: relative;
  cursor: default;
  background-color: $ap-grey-1;
  top: 60px;
  width: 600px;
  margin: 0 auto;

  .title {
    display: inline-flex;
    margin-left: 85px;
    color: $navy;
  }

  .character {
    display: inline-flex;
    margin: 2px;
    padding-bottom: 16px;
  }

  .noCharacter {
    color: $error;
    text-align: center;
  }

  .backBtn {
    display: flex;
    color: $black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-weight: bold;
    &:hover {
      color: $active;
    }
  }

  .details {
    display: grid;
    margin: 0 auto;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .image {
      margin: 0 auto;
    }

    .fieldName {
      display: inline;
      color: $black;
      text-align: left;

      .episode {
        margin-top: 0px;
        color: $navy;
      }
    }

    .fieldValue {
      color: $navy;
    }
  }
}
